//================ Font ==================

$font-title: 'Roboto', sans-serif;
$font-text:  'Bai Jamjuree', sans-serif;
$summary: 14px;

//================ Color ==================

$container-bg: #ffffff;
$body-bg : #EBEBEB;
$primary: #6EA873;
$secondary:#E8C830;
$tertiary:#306284;
$border-color: rgba(112, 112, 112, 0.5);